body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.game-area {
  position: relative;
}

.score {
  display: none;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

.score > p{
  font-size: 35px;
  font-weight: bold;
  color: limegreen;
}

.Winner-anim {
  display: block;
}

.Winner-anim > h3 {
  animation: Winner-score infinite 2s linear;
}

.App-header {
  background-color: mediumseagreen;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.board {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 75px;
}

.score-summary {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 200px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.score-summary-block {
  width: 100px;
  height: 50px;
  color: #555;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board.won {
  pointer-events: none;
  opacity: 0.1;
}

.block {
  width: 100px;
  height: 100px;
  color: #555;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: ghostwhite;
  cursor: pointer;
}

.block:hover {
  background: mediumseagreen;
  color: #fff;
}

.block.failed {
  background: red;
  color: #fff;
  pointer-events: none;
}

.block.success {
  background: limegreen;
  color: #fff;
}

a.noDecoration {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 12px 27px;
  box-shadow: 0px 0px 11px #000;
}

.scores {
  position: fixed;
  right: 10px;
  top: 150px;
  border: 1px solid #f0f0f0;
  padding: 0px 21px;
}

.scores .score-list {
  text-align: left;
  padding-left: 5px;
  width: 230px;
}

.wrapper {
  position: fixed;
  z-index: 999999;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
}

.wrapper-title {
  color: mediumseagreen;
  font-size: 92px;
}

.wrapper-content {
  display: flex;
  justify-content: center;
}

.wrapper-content .start-game {
  font-size: 32px;
  text-decoration: none;
  color: tomato;
}

.wrapper-content .start-button {
  text-decoration: none;
  color: tomato;
  border-radius: 50%;
  font-size: 78px;
  vertical-align: middle;
}

.wrapper img.screenshots{
  width: 255px;
  box-shadow: 0px 0px 24px #d0d0d0;
  margin: 21px
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 8px 12px;
  border-top: 1px solid #d0d0d0;
}

.profileBadge {
  width: 54px;
  border-radius: 50px;
  vertical-align: middle;
}

.hide-me {
  display: none;
}

@keyframes Winner-score {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(2.0);
  }
  100% {
    transform: scale(1.0);
  }
}

@media (max-width: 1020px) {
  .block {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .board {
    width: 250px;
    height: 250px;
  }

  .scores {
    position: inherit;
    border: 0px solid #f0f0f0;
  }

  .score {
    top: 4%;
  }

  .wrapper-title {
    font-size: 72px;
  }

  .wrapper-content img.screenshots {
    width: 29%;
    box-shadow: 0px 0px 24px #d0d0d0;
    margin: 5px;
  }
}

@media (max-width: 768px) {
  .wrapper-title {
    font-size: 52px;
  }
}
